[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
happeningsmarket = "7y3F8J4YDNAmXe4vk9Zgxs4HkYFzf4STziiLYjsoRUz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "./wallet-keypair.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
